.form{
    padding: 1rem;
    background-color: whitesmoke;
}

.group{
    margin-bottom: 0.5rem;

}

.group label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.group input, .group textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    padding: 0.25rem;
    width: 100%;

}

.btn{
    /* margin-top: 1rem;
    text-align: right;
    background-color: blueviolet; */
    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
    padding: 0 32px;
    border-radius: 6px;
    color: #fff;
    height: 48px;
    font-size: 18px;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease,transform 0.15s ease;
    
}
   
.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);   
}

.btn:active{
    
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}
    

