.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
       
}
img{
    display: inline-block;
    padding-left: 7vh;
    padding-top: 5px;
    width: 90%;
    height: 100vh;
    object-fit: cover;
    
}
.content{
    display: inline-block;
    text-align: center;
    margin: 20px 20px;
}
.btn{
    display: block;
    text-align: center;
      
}

.heartfvrt {
    display:inline-block;
    width: 35px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 60%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
    background-color: transparent;
    margin-left: 95%;

}

.heartUnfvrt {
    display:inline-block;
    width: 35px;
    aspect-ratio: 1;
    border-image: radial-gradient(rgb(14,0,0) 60%, rgba(1,0,0,0) 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 140% 0);
    background-color: transparent;
    margin-left: 95%;

}

