/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom right, #33ccff 0%, #6699ff 100%);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold; 
    color: #333; 
  }
  
  /* Form styles */
  form {
    display:flex;
    flex-wrap: wrap;
    width: 350px; 
    margin: 0 auto;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px;
    background: linear-gradient(to bottom right, #99ccff 0%, #ccffff 89%);
  }
  
  label {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    align-items: center; 
    margin-bottom: 5px;
    width: auto; 
    text-align: left;
    font-weight: bold; 
    color: #333; 
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    font-weight: bold; 
  }
  label[for="resume"] {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: auto;
    font-weight: bold;
    color: #333;
  }
  
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  

  